* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
  background-image: linear-gradient(to right, orange, purple);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
